@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply font-sans;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
} */

:root {
  --lime: #a3de83;
  --green: #2eb872;
  --red: #ff5d6e;
  --white: #feffea;
}

/* .whitelime {
  background-image: linear-gradient(to right, var(--white), var(--lime));
}

.redwhite {
  background-image: linear-gradient(
    to right,
    var(--red),
    var(--white),
    var(--red)
  );
} */

/* body {
    background-color: var(--white);
    color: var(--green);
} */
