@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans;
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

:root {
    --lime: #A3DE83;
    --green: #2EB872;
    --red: #FF5D6E;
    --white: #FEFFEA;
}

body {
    background-color: var(--white);
    color: var(--green);
}