.businessCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.businessImg {
  height: 400px;
}

.launchBtn {
  padding: 2%;
  border: 1px solid black;
  border-radius: 5px;
}

.businessLaunchBtn {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-size: 1em;
  transition: 0.3s;
  margin-top: 3%;
}

.businessLaunchBtn:hover {
  background-color: black;
  color: white;
  transform: translateY(2px);
  box-shadow: 1px 1px 5px black;
  text-shadow: 1px 1px 5px white;
}
