.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  background-image: url("https://images.unsplash.com/photo-1491555103944-7c647fd857e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
}

h1 {
  font-size: 7em;
  color: white;
  text-shadow: 1px 5px 10px black;
}

.subtitle {
  font-size: 3em;
  color: white;
  text-shadow: 1px 5px 10px black;
}

h2 {
  font-size: 3em;
}

.businessCardContainer {
  display: flex;
}
