:root {
  --primarygreen: #0db261;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1550751187-da63f7e2b4eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80");
  background-position: bottom;
  background-repeat: none;
  background-size: cover;
}

.loginForm,
.signUpForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.full-height {
  height: 100vh !important;
}

.flex {
  display: flex;
}

.justify-center {
  justify-items: center;
}

.align-items {
  align-items: center;
}
.space-evenly {
  justify-content: space-around;
}

.gap-10 {
  gap: 10px;
}

.login-border {
  border: 5px solid #0e3753;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px grey;
}

.padding-20 {
  padding: 20px;
}

.top-margin {
  margin-top: 10vh;
}

.button-background {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
}

.button-background:hover {
  background-color: #0e3753;
  color: whitesmoke;
}

.fade-in-box {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
